<h1>Whatever</h1>

<h2>Meetups</h2>
<ul>
  <% @events.each do |event| %>
    <li>
      <ul>
        <li><strong>Title: </strong><a href=<%=event.event_url%>><%= event.title %></a></li>
        <li><strong>Group Name: </strong><%= event.group_title %></li>
        <li><strong>Description: </strong><%= event.description %></li>
        <br><br>
      </ul>
    </li>
  <% end %>
</ul>
